/* styles.css */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    color: white;
    background: url('/images/background.jpg') no-repeat center center/cover; /* Replace with your image */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.splash-container {
    background: rgba(0, 0, 0, 0.5);
    padding: 30px;
    border-radius: 10px;
    width: 50%;
   
    
}

h1 {
    font-size: 2.5em;
    margin-bottom: 10px;   
}

.members {
    font-size: 50px;
    margin-bottom: 15px;
    line-height: 100px;
}

.btn {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2em;
    display: inline-block;
}

.loader {
    margin: 20px auto;
    width: 50px;
    height: 50px;
    border: 5px solid white;
    border-top: 5px solid transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}
